@import "../node_modules/@comicrelief/pattern-lab/sass/base/core";

@import "../node_modules/@comicrelief/pattern-lab/sass/base/variables/colours";
@import "../node_modules/@comicrelief/pattern-lab/sass/base/variables/_lists";
@import "../node_modules/@comicrelief/pattern-lab/sass/base/variables/grid";
@import "../node_modules/@comicrelief/pattern-lab/sass/base/variables/typography";

@import "../node_modules/@comicrelief/pattern-lab/sass/themes/cr/2017/variables/colours";
@import "../node_modules/@comicrelief/pattern-lab/sass/themes/cr/2017/variables/typography";
@import "../node_modules/@comicrelief/pattern-lab/sass/themes/cr/2017/variables/_mixins";

@import "../node_modules/@comicrelief/pattern-lab/sass/base/components/typography/typography";
@import "../node_modules/@comicrelief/pattern-lab/sass/base/components/buttons/buttons";
@import "../node_modules/@comicrelief/pattern-lab/sass/base/components/form/form";
@import "../node_modules/@comicrelief/pattern-lab/sass/base/components/list/_list";
@import "../node_modules/@comicrelief/pattern-lab/sass/base/components/promo-header/_promo-header";
@import "../node_modules/@comicrelief/pattern-lab/sass/base/components/single-msg/_single-msg";

@import "../node_modules/@comicrelief/pattern-lab/sass/themes/cr/2017/components/buttons/_buttons";
@import "../node_modules/@comicrelief/pattern-lab/sass/themes/cr/2017/components/typography/_fonts";
@import "../node_modules/@comicrelief/pattern-lab/sass/themes/cr/2017/components/typography/_typography";

@import "../node_modules/@comicrelief/pattern-lab/sass/themes/cr/2017/components/links/links";
@import "../node_modules/@comicrelief/pattern-lab/sass/themes/cr/2017/components/background-colours/_background-colours";
@import "../node_modules/@comicrelief/pattern-lab/sass/themes/cr/2017/components/single-msg/_single-msg";

html, body {
  background-color: #F0F0F0;
}

main {
  @include clearfix;
}

.single-msg.question .single-msg__copy_wrapper .single-msg__copy {

  ul {
    margin: 15px 0;
    padding: 0 0 0 20px;
    list-style: none;
    @extend p;

    li {
      position: relative;
      padding: 0 0 0 30px;
      list-style: none;
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
      
      &:before {
        position: absolute;
        top: 0;
        left: -3px;
        padding: 0 16px 0 0;
        content: "\25CF";
        color: $colour-red;
      }
    }
  }

  .buttons {
    margin: 30px 0 0;

    button.btn:first-child:not(:only-child) {
      margin: 10px;
      @extend .btn--red;

      ~ button.btn {
        margin: 10px;
        @extend .btn--royal-blue;

        + button.btn {
         @extend .btn--black-ghost;
        }
      }
    }
  }
}

.text-align-center {
  text-align: center;

  // Represents our bold 'title'
  &.font--family-bold {
    //margin: 50px 0;
  }
}

.text-input {
  position: relative;
  margin: 30px 0;

  label {
    position: absolute;
    top: 0;
    left: 0;
    text-indent: -9999px;
  }

  .btn {
    border: 0;
    border-radius: 0;
    padding: 16px 40px;
  }
}

ul li {
  p &,
  h3 &,
  h4 &,
  h5 & {
    font-family: inherit !important;
    font-size: inherit !important;
    line-height: inherit !important;
  }
}

.font--red {
  color: $colour-red !important;
}

.cross {
  &:before {
    background: url(./images/error-red-cross.svg) -10px -8px no-repeat;
    content: '';
    display: inline-block;
    font-size: inherit;
    position: relative;
    width: 20px;
    height: 20px;
    top: 2px;
    margin-right: 6px;
  }
}

.apply-footer.single-msg.single-msg--copy-only .single-msg__copy_wrapper {
  @include span(12);

  @include breakpoint($screen-md) {
    @include span(12);
  }

  @include breakpoint($screen-lg) {
    @include span(12);
  }
}

#grants-form {
  .buttons {
    margin-top:30px;
    button.btn:not(.btn-3) {
      border:0;
    }
    .question-8 & {
      button.btn {
        display: block;
        margin: 15px;
      } 
    }
  }

  .single-msg.outcome  {
    .single-msg__copy_wrapper,
    .single-msg__image {
      margin-left: 0;
      margin-right: 0; 
    }
  }

  .bg--grey {
    background-color: #F0F0F0;
  }

  .no-margin {
    margin: 0;
  }
}
