@import "../node_modules/@comicrelief/pattern-lab/sass/base/core";

@import "../node_modules/@comicrelief/pattern-lab/sass/base/variables/colours";
@import "../node_modules/@comicrelief/pattern-lab/sass/base/variables/_lists";
@import "../node_modules/@comicrelief/pattern-lab/sass/base/variables/grid";
@import "../node_modules/@comicrelief/pattern-lab/sass/base/variables/typography";

@import "../node_modules/@comicrelief/pattern-lab/sass/themes/cr/2017/variables/colours";
@import "../node_modules/@comicrelief/pattern-lab/sass/themes/cr/2017/variables/typography";
@import "../node_modules/@comicrelief/pattern-lab/sass/themes/cr/2017/variables/_mixins";

@import "../node_modules/@comicrelief/pattern-lab/sass/base/components/typography/typography";
@import "../node_modules/@comicrelief/pattern-lab/sass/base/components/buttons/buttons";
@import "../node_modules/@comicrelief/pattern-lab/sass/base/components/form/form";
@import "../node_modules/@comicrelief/pattern-lab/sass/base/components/list/_list";
@import "../node_modules/@comicrelief/pattern-lab/sass/base/components/promo-header/_promo-header";
@import "../node_modules/@comicrelief/pattern-lab/sass/base/components/progress-indicator/_progress-indicator";

@import "../node_modules/@comicrelief/pattern-lab/sass/themes/cr/2017/components/buttons/_buttons";
@import "../node_modules/@comicrelief/pattern-lab/sass/themes/cr/2017/components/typography/_fonts";
@import "../node_modules/@comicrelief/pattern-lab/sass/themes/cr/2017/components/typography/_typography";

@import "../node_modules/@comicrelief/pattern-lab/sass/themes/cr/2017/components/links/links";
@import "../node_modules/@comicrelief/pattern-lab/sass/themes/cr/2017/components/background-colours/_background-colours";
@import "../node_modules/@comicrelief/pattern-lab/sass/themes/cr/2017/components/single-msg/_single-msg";

/* Image paths as variables */
$london-169 : "./images/outcome-images/london-together-169.jpg";
$london-34 : "./images/outcome-images/london-together-34.jpg";
$core-169 : "./images/outcome-images/core-strength-169.jpg";
$core-34 : "./images/outcome-images/core-strength-34.jpg";
$sss-169 : "./images/outcome-images/safe-secure-settled-169.jpg";
$sss-34 :  "./images/outcome-images/safe-secure-settled-34.jpg";
$vawg-34 :  "./images/outcome-images/vawg-34.jpg";
$vawg-169 :   "./images/outcome-images/vawg-169.jpg";

/* Pre-load bg images */
body::after{
  position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
  content:
    url($london-169) url($london-34) url($core-169) url($core-34) url($sss-169) url($sss-34) url($vawg-34) url($vawg-169)
}

html, body {
  background-color: #F0F0F0;
}

main {
  @include clearfix;
}

.single-msg.question .single-msg__copy_wrapper .single-msg__copy {

  h3, p {
    margin-bottom: 20px;
  }

  ul.list {
    margin: 15px 0;
    padding: 0 0 0 20px;
    list-style: none;
    @extend p;

    li {
      position: relative;
      padding: 0 0 0 30px;
      list-style: none;
      font-family: inherit;
      font-size: inherit;
      line-height: 25px;
      
      &:before {
        position: absolute;
        top: 0;
        left: -3px;
        padding: 0 16px 0 0;
        content: "\25CF";
        color: $colour-red;
      }
    }
  }
}

.buttons {
  margin: 30px 0 0;

  button.btn:first-child:not(:only-child) {
    @extend .btn--red;
    @include breakpoint($screen-md) {
      margin-bottom: 0;
    }
    ~ button.btn {
      @extend .btn--royal-blue;
      + button.btn {
       @extend .btn--black-ghost;
      }
    }
  }

  button.btn {
    width: 100%;
    margin: 10px 0 0;
    @include breakpoint($screen-md) {
      width: auto;
      margin: 0 10px;
    }
  }
}

.text-align-center {
  text-align: center;
}

.text-input {
  position: relative;
  margin: 30px 0;

  label {
    position: absolute;
    top: 0;
    left: -9999px;
    text-indent: -9999px;
  }

  input[type="text"] {
   font-size: 16px; 
  }

  .btn {
    border: 0;
    border-radius: 0;
    padding: 16px 40px;
    vertical-align: top;
  }

  .organisation-name__submit {
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    @include breakpoint($screen-md) {
      width: auto;
    }
  }
}

ul.list li {
  p &,
  h3 &,
  h4 &,
  h5 & {
    font-family: inherit !important;
    font-size: inherit !important;
    line-height: inherit !important;
  }
}

.font--red {
  color: $colour-red !important;
}

.cross {
  &:before {
    background: url(./images/error-red-cross.svg) -10px -8px no-repeat;
    content: '';
    display: inline-block;
    font-size: inherit;
    position: relative;
    width: 20px;
    height: 20px;
    top: 2px;
    margin-right: 6px;
  }
}

.apply-footer.single-msg.single-msg--copy-only .single-msg__copy_wrapper {
  @include span(12);

  @include breakpoint($screen-md) {
    @include span(12);
  }

  @include breakpoint($screen-lg) {
    @include span(12);
  }
}

#grants-form {
  .buttons {
    margin-top:30px;
    button.btn:not(.btn-3) {
      border:0;
    }
  }

  .question-8 .buttons {
    button.btn {
      display: block;
      margin: 10px 0 0;
      
      @include breakpoint($screen-md) {
        margin: 15px auto;
      }
    } 
  }
 
  .single-msg.outcome  {
    .single-msg__copy_wrapper,
    .single-msg__image {
      margin-left: 0;
      margin-right: 0; 
    }
  }

  .bg--grey {
    background-color: #F0F0F0;
  }

  .no-margin {
    margin: 0;
  }
}

.single-msg.single-msg__copy_wrapper {
  .single-msg__copy {
    padding: 0;
    .single-msg__body.cr-body {
      text-align: center;
    }
  }
}

.single-msg .single-msg__outer-wrapper .single-msg__body {
  text-align: center;
  @include breakpoint($screen-md) {
    text-align: left;
  }
}

/* Outcome Message images  */
.outcome-image {
  background-position: top center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: auto;
  padding: 28% 0;

  @include breakpoint($screen-md) {
    background-position: top center;
    background-size: 100% auto;
    height: auto;
    padding: 21% 16%;
    // Represents our 'ineligible' rows
    .single-msg--copy-left & {
      background-position: center center;
      padding: 16% 16%;
    }
  }
}

.outcome-image--london {
  @extend .outcome-image;
  background-image: url($london-169);
  @include breakpoint($screen-md) {
    background-image: url($london-34);
  }
}

.outcome-image--core {
  @extend .outcome-image;
  background-image: url($core-169);
  @include breakpoint($screen-md) {
    background-image: url($core-34);
  }
}
   
.outcome-image--sss {
  @extend .outcome-image;
  background-image: url($sss-169);
  @include breakpoint($screen-md) {
    background-image: url($sss-34);
  }
}

.outcome-image--vawg {
  @extend .outcome-image;
  background-image: url($vawg-169);
  @include breakpoint($screen-md) {
    background-image: url($vawg-34);
  }
}

/* Making the button resemble a link */
button.previous-question {
  background: none;
  border: none;
  padding: 7px 0;
  cursor: pointer;
  outline: inherit;
  font-size: inherit;
  line-height: 14px;
  border-bottom: 4px solid rgba(41, 2, 44, 0.5);
  @extend .inline;
  @extend .link--dark-purple;
}

ul.progress-indicator {
  padding:0;
  margin: 10px 0 60px;
  li {
    padding: 0;
    width: 14%;
    
    &:before {
      content: none;
    }

    .progress-bar__title {
      word-break: normal;
      position: absolute;
      left: -12px;
      top: 25px;
      left: 0;
      width: 100%;
      font-size: 13px;

      @include breakpoint($screen-md) {
        font-size: 18px;
        left: 0;
      }
    }

    &.progress-indicator--todo.no-circle .progress-indicator__step.progress-indicator__circle {
        background-color: transparent;
        border: 0;
    }
    
    &.progress-indicator--done.no-circle .progress-indicator__circle {
      margin-top: 6px;
      border: 0;
      border-radius: 0;
      height: 3px;
    }
  }
}
