<h2>We don’t think you’re eligible.</h2>

<p>Comic Relief only welcomes proposals from certain type of organisations, mostly charities.</p>

<p>We accept proposals from organisations that are not a charity only where their governing documents clearly outline the organisation’s social purpose, demonstrate that any profit or assets are used for this social purpose, and show that an asset lock is in place.</p>

<p>We don’t accept proposals from individuals.</p>

<p>Read more about what this means by visiting our <a class="link link--dark-purple" target="_blank" href="https://www.comicrelief.com/funding/applying-for-grants/guidance">Guidance on Applying</a>.</p>
