<header className="bg--white promo-header promo-header--default promo-header--no-image">
  <div className="promo-header__content">
    <div className="promo-header__content-inner promo-header__content-inner--centre">
      <div className="cr-body">
        <h1 className="font--black text-align-center">We don’t think you’re eligible.</h1>
      </div>
    </div>
  </div>
</header>
<main role="main" className="bg--grey">
  <section className='paragraph single-msg single-msg--copy-only bg--grey outcome'>
    <div className="single-msg__outer-wrapper">
      <div className="single-msg__copy_wrapper bg--white">
        <div className="single-msg__copy">
          <div className="single-msg__body">
            <div className="cr-body">
              <h3>
                Comic Relief only welcomes proposals from organisations, we don’t accept proposals from individuals. 
              </h3>
              <h3>
                Read <a class="link link--dark-purple" target="_blank" href="https://www.comicrelief.com/funding/applying-for-grants/guidance">Guidance on Applying</a> for more details.  
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
</div>
