<header className="bg--white promo-header promo-header--default promo-header--no-image">
  <div className="promo-header__content">
    <div className="promo-header__content-inner promo-header__content-inner--centre">
      <div className="cr-body">
        <h1 className="font--black text-align-center">We don’t think you’re eligible.</h1>
      </div>
    </div>
  </div>
</header>
<main role="main" className="bg--grey">
  <section className='paragraph single-msg single-msg--copy-only bg--grey'>
    <div className="single-msg__outer-wrapper">
      <div className="single-msg__copy_wrapper bg--white">
        <div className="single-msg__copy">
          <div className="single-msg__body">
            <div className="cr-body">
              <h3>
                Comic Relief only makes grants to organisation. We don't accept proposals from individuals.
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
