<h2>We think you might  be eligible!</h2>

<p>It looks like you might  be eligible for the following initiatives:</p>

<p>‘Safe, Secure, Settled’</p>

<p>We will support projects using sport to improve the lives of young people without a safe or secure place to live. Grants are available between £100,000 and £500,000. Your project must be working toward at least one of the following outcomes:</p>

<ul>
  <li>Children and young people increase and/or sustain their engagement with education</li>
  <li>Children and young people have increased pathways into training or employment</li>
  <li>Children and young people increase life skills</li>
  <li>More children and young people have a safe and supportive network or trusted place to go for advice</li>
</ul>

<p><a class="link link--dark-purple" target="_blank" href="https://www.comicrelief.com/apply-for-grants/open-grants-initiatives/safe-secure-settled">Read more and apply to ‘Safe, Secure, Settled’</a>.</p>
