<header className="bg--white promo-header promo-header--default promo-header--no-image">
  <div className="promo-header__content">
    <div className="promo-header__content-inner promo-header__content-inner--centre">
      <div className="cr-body">
        <h1 className="font--black text-align-center">We don’t think you’re eligible.</h1>
      </div>
    </div>
  </div>
</header>
<main role="main" className="bg--grey">
  <section className='paragraph single-msg single-msg--copy-only bg--grey outcome'>
    <div className="single-msg__outer-wrapper">
      <div className="single-msg__copy_wrapper bg--white">
        <div className="single-msg__copy">
          <div className="single-msg__body">
            <div className="cr-body">
              <h4>
                We don’t support projects where a large proportion of funding will be used to cover capital costs. Where we do fund capital costs, it will be clearly shown that expenditure is small compared to the overall budget and essential to the proposed activity.
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
