<header className="bg--white promo-header promo-header--default promo-header--no-image">
  <div className="promo-header__content">
    <div className="promo-header__content-inner promo-header__content-inner--centre">
      <div className="cr-body">
        <h1 className="font--black text-align-center">We don’t think you’re eligible.</h1>
      </div>
    </div>
  </div>
</header>
<main role="main" className="bg--grey">
  <section class="single-msg  bg--light-grey">
    <div class="single-msg__outer-wrapper">
      <div class="single-msg__image">
        <picture>
          <source srcset="https://pattern-lab-systest.apps.comicrelief.com/cr/kss-assets/images/1-1-img.jpg" media="all and (min-width: 1024px)" type="image/jpeg">
          <source srcset="https://pattern-lab-systest.apps.comicrelief.com/cr/kss-assets/images/1-1-img.jpg" media="all and (min-width: 740px)" type="image/jpeg">
          <source srcset="https://pattern-lab-systest.apps.comicrelief.com/cr/kss-assets/images/1-1-img.jpg" media="(min-width: 0px)" type="image/jpeg">
          <img src="https://pattern-lab-systest.apps.comicrelief.com/cr/kss-assets/images/1-1-img.jpg" typeof="foaf:Image">
        </picture>
      </div>
      <div class="single-msg__copy_wrapper bg--white">
        <div class="single-msg__copy">
          <div class="single-msg__body">
            <p className="font--family-bold font--red font--large cross">Only available for core funding for organisations with an income below £100,000.</p>
            <h4 className="font--family-bold">Core Strength - Local Communities</h4>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
