<header className="bg--white promo-header promo-header--default promo-header--no-image">
  <div className="promo-header__content">
    <div className="promo-header__content-inner promo-header__content-inner--centre">
      <div className="cr-body">
        <h1 className="font--black text-align-center">You might be eligible for 1 initiative!</h1>
      </div>
    </div>
  </div>
</header>
<main role="main" className="bg--grey">
  <section class="single-msg outcome bg--light-grey">
    <div class="single-msg__outer-wrapper">
    <div class="single-msg__image outcome-image--core">&nbsp;</div>
      <div class="single-msg__copy_wrapper bg--white">
        <div class="single-msg__copy">
          <div class="single-msg__body">
            <h3 className="font--family-bold">Core Strength - Local Communities</h3>
            <p>This initiative aims to support small locally led groups having a sustained beneficial impact on the lives of people who are excluded or disadvantaged. Funding will invest in the organisation as a whole, including covering basic running costs. This initiative doesn’t fund direct project delivery. Your organisation must be based in the UK and your income must have been below £100,000 in your last financial year. Grants are available between £1,000 and £10,000.</p>
            <p><a class="link link--dark-purple inline" target="_blank" href="https://www.comicrelief.com/apply-for-grants/open-grants-initiatives/core-strength-local-communities">Read More</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="single-msg single-msg--copy-only bg--light-grey single-msg--no-padding">
  <div class="single-msg__outer-wrapper">
    <div class="single-msg__copy_wrapper bg--white">
      <div class="single-msg__copy">
        <div class="single-msg__title text-align-center">
          <h4 className="no-margin">Why we don’t think you’re  eligible for our other initiatives:</h4>
        </div>
      </div>
    </div>
  </div>
</section>

   <section class="single-msg outcome bg--light-grey single-msg--no-bottom-padding">
    <div class="single-msg__outer-wrapper">
      <div class="single-msg__image outcome-image--london">&nbsp;</div>
      <div class="single-msg__copy_wrapper bg--white">
        <div class="single-msg__copy">
          <div class="single-msg__body">
            <p className="font--red font--family-bold cross">Only available for Sport For Change projects.</p>
            <h3 className="font--family-bold">London Together</h3>
            <p>Supporting projects using sport to foster social integration across London.</p> 
            <p className="font--large font--family-bold">
            <a class="link link--dark-purple inline" target="_blank" href="https://www.comicrelief.com/apply-for-grants/open-grants-initiatives/london-together">Read more</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="single-msg outcome bg--light-grey">
    <div class="single-msg__outer-wrapper">
      <div class="single-msg__image outcome-image--sss">&nbsp;</div>
      <div class="single-msg__copy_wrapper bg--white">
        <div class="single-msg__copy">
          <div class="single-msg__body">
            <p className="font--red font--family-bold cross">Only available for Sport For Change projects.</p>
            <h3 className="font--family-bold">Safe, Secure, Settled</h3>
            <p>Supporting projects using sport to improve the lives of young people without a safe or secure place to live. Projects will be in the UK, India, South Africa, Brazil or Kenya.</p> 
            <p className="font--large font--family-bold">
            <a class="link link--dark-purple inline" target="_blank" href="https://www.comicrelief.com/apply-for-grants/open-grants-initiatives/safe-secure-settled">Read more</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

