<h2>We don’t think you’re eligible.</h2>

<p>Our current initiatives will fund projects using sport for change. So it’s unlikely that you’d get funding at this time.</p>

<p>We will launch new initiatives in the coming months so keep an eye on our website and social media channels.</p>

<p>You can read more about why we think sport can be a powerful tool for social change <a class="link link--dark-purple" target="_blank" href="https://www.comicrelief.com/your-impact/how-we-make-grants/sport-for-change">here</a>.</p>
