<header className="bg--white promo-header promo-header--default promo-header--no-image">
  <div className="promo-header__content">
    <div className="promo-header__content-inner promo-header__content-inner--centre">
      <div className="cr-body">
        <h1 className="font--black text-align-center">You might be eligible for 1 initiative!</h1>
      </div>
    </div>
  </div>
</header>
<main role="main" className="bg--grey">

  <section class="single-msg outcome bg--light-grey single-msg--no-bottom-padding">
    <div class="single-msg__outer-wrapper">
      <div class="single-msg__image outcome-image--vawg">
      </div>
      <div class="single-msg__copy_wrapper bg--white">
        <div class="single-msg__copy">
          <div class="single-msg__body">
            <h3 className="font--family-bold">NEW VAWG INITIATIVE</h3>
            <p>Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.</p> 
            <p className="font--large font--family-bold">
            <a class="link link--dark-purple inline" target="_blank" href="https://www.comicrelief.com/apply-for-grants/open-grants-initiatives/VAWG">Read more</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="single-msg outcome bg--light-grey single-msg--copy-left">
    <div class="single-msg__outer-wrapper">
      <div class="single-msg__image outcome-image--london">
      </div>
      <div class="single-msg__copy_wrapper bg--white">
        <div class="single-msg__copy">
          <div class="single-msg__body">
            <p className="font--red font--family-bold cross">Only available for Sport For Change projects.</p>
            <h3 className="font--family-bold">London Together</h3>
            <p>Supporting projects using sport to foster social integration across London.</p> 
            <p className="font--large font--family-bold">
            <a class="link link--dark-purple inline" target="_blank" href="https://www.comicrelief.com/apply-for-grants/open-grants-initiatives/london-together">Read more</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="single-msg outcome bg--light-grey single-msg--copy-left single-msg--no-bottom-padding">
    <div class="single-msg__outer-wrapper">
      <div class="single-msg__image outcome-image--sss">&nbsp;</div>
      <div class="single-msg__copy_wrapper bg--white">
        <div class="single-msg__copy">
          <div class="single-msg__body">
            <p className="font--red font--family-bold cross">Only available for Sport For Change projects.</p>
            <h3 className="font--family-bold">Safe, Secure, Settled</h3>
            <p>Supporting projects using sport to improve the lives of young people without a safe or secure place to live. Projects will be in the UK, India, South Africa, Brazil or Kenya.</p> 
            <p className="font--large font--family-bold">
            <a class="link link--dark-purple inline" target="_blank" href="https://www.comicrelief.com/apply-for-grants/open-grants-initiatives/safe-secure-settled">Read more</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>

   <section class="single-msg outcome bg--light-grey single-msg--copy-left">
    <div class="single-msg__outer-wrapper">
      <div class="single-msg__image outcome-image--core">&nbsp;</div>
      <div class="single-msg__copy_wrapper bg--white">
        <div class="single-msg__copy">
          <div class="single-msg__body">
            <p className="font--red font--family-bold cross">Only available for core funding for organisations with an income below £100,000.</p>
            <h3 className="font--family-bold">Core Strength - Local Communities</h3>
            <p>Supporting small locally led groups with core funding. Organisations supported will have an income below £100,000.</p> 
            <p className="font--large font--family-bold">
            <a class="link link--dark-purple inline" target="_blank" href="https://www.comicrelief.com/apply-for-grants/open-grants-initiatives/core-strength-local-communities">Read more</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
