<header className="bg--white promo-header promo-header--default promo-header--no-image">
  <div className="promo-header__content">
    <div className="promo-header__content-inner promo-header__content-inner--centre">
      <div className="cr-body">
        <h1 className="font--black text-align-center">We don’t think you’re eligible.</h1>
      </div>
    </div>
  </div>
</header>
<main role="main" className="bg--grey">

<section class="single-msg outcome bg--light-grey single-msg--no-bottom-padding">
    <div class="single-msg__outer-wrapper">
      <div class="single-msg__image">
        <picture>
          <source srcset="https://pattern-lab-systest.apps.comicrelief.com/cr/kss-assets/images/4-3-img.jpg" media="all and (min-width: 1024px)" type="image/jpeg">
          <source srcset="https://pattern-lab-systest.apps.comicrelief.com/cr/kss-assets/images/4-3-img.jpg" media="all and (min-width: 740px)" type="image/jpeg">
          <source srcset="https://pattern-lab-systest.apps.comicrelief.com/cr/kss-assets/images/16-9-img.jpg" media="(min-width: 0px)" type="image/jpeg">
          <img src="https://pattern-lab-systest.apps.comicrelief.com/cr/kss-assets/images/4-3-img.jpg" typeof="foaf:Image">
        </picture>
      </div>
      <div class="single-msg__copy_wrapper bg--white">
        <div class="single-msg__copy">
          <div class="single-msg__body">
            <p className="font--red font--family-bold font--large cross">Only available for projects taking place in the UK, India, South Africa, Brazil or Kenya.</p>
            <h4 className="font--family-bold">Safe, Secure, Settled</h4>
            <p className="font--large">You can find more information about our approach in <a class="link link--dark-purple" target="_blank" href="https://www.comicrelief.com/funding/applying-for-grants/guidance">Guidance on Applying</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="single-msg outcome bg--light-grey">
    <div class="single-msg__outer-wrapper">
      <div class="single-msg__image">
        <picture>
          <source srcset="https://pattern-lab-systest.apps.comicrelief.com/cr/kss-assets/images/4-3-img.jpg" media="all and (min-width: 1024px)" type="image/jpeg">
          <source srcset="https://pattern-lab-systest.apps.comicrelief.com/cr/kss-assets/images/4-3-img.jpg" media="all and (min-width: 740px)" type="image/jpeg">
          <source srcset="https://pattern-lab-systest.apps.comicrelief.com/cr/kss-assets/images/16-9-img.jpg" media="(min-width: 0px)" type="image/jpeg">
          <img src="https://pattern-lab-systest.apps.comicrelief.com/cr/kss-assets/images/4-3-img.jpg" typeof="foaf:Image">
        </picture>
      </div>
      <div class="single-msg__copy_wrapper bg--white">
        <div class="single-msg__copy">
          <div class="single-msg__body">
            <p className="font--red font--family-bold font--large cross">Only available for projects being delivered in London.</p>
            <h4 className="font--family-bold">London Together</h4>
            <p className="font--large">You can find more information about our approach in <a class="link link--dark-purple" target="_blank" href="https://www.comicrelief.com/funding/applying-for-grants/guidance">Guidance on Applying</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </section>


</main>
