<p>
  We won't usually fund:
    <ul>
    <li>Fundraising appeals</li>
    <li>Individual study</li>
    <li>Religious activities</li>
    <li>Political campaigning</li>
    <li>One-off events</li>
    <li>Institutional care</li>
  </ul>
</p>

<p>
  You can find more information in
  <a class="link link--dark-purple inline" target="_blank" href="https://www.comicrelief.com/funding/applying-for-grants/guidance">&#39;Guidance on applying&#39;</a>.</p>

<h3 className="text-align-center font--family-bold">
  Do you want funding for any of the above?
</h3>
