<h4>
  We don’t usually fund:
    <ul>
    <li>Fundraising appeals</li>
    <li>Individual study</li>
    <li>Religious activities</li>
    <li>Political campaigning</li>
    <li>One-off events</li>
    <li>Institutional care</li>
  </ul>
</h4>

<h4>
  We will not usually fund these activities. 
  Where we do, it will only be under very limited circumstances. 
  Read more in our
  <a class="link link--dark-purple" target="_blank" href="https://www.comicrelief.com/funding/applying-for-grants/guidance">Guidance on Applying</a>.</h4>

<h4 className="text-align-center font--family-bold">
  Are you looking for funding for any of the above?
</h4>
