<h4 className="text-align-center font--family-bold">
Will your project use sport as a tool for social change? 
</h4>

<h4>
Comic Relief defines Sport for Change as bringing about positive social change for individuals and communities through the intentional use of sport and physical activity. Projects taking this approach should be able to demonstrate wider social outcomes and won’t just focus on increasing participation in sport for the physical health benefits.
</h4>

<h4>
You can find out more about what we mean by Sport for Change in
  <a class="link link--dark-purple" target="_blank" href="http://www.comicrelief.com/sport-for-change-booklet">this short guide</a>.
</h4>
